@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  /*  */
  --clr-bg-header: #9aecd1;
  --clr-btn: #eeeaea;
  --clr-nav-hover: #1E6F5C;

  --clr-light-hover: #ffffff;
  --clr-dropdown: #806b6b;
  --clr-dropdown-hov: #f8f8f8;
  --clr-dropdown-link-hov: #8f8c8c;
  --clr-light: #000000;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0px;
  /* background-color: var(--clr-bg-header); */
  width: 100%;
  z-index: 1000;
}

section {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  /* max-width: 65rem; */
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}

.container:hover {
  background-color: white;

}

.container:hover header {
  color: rgb(5, 16, 17);
}

.container:hover .nav-link>a {
  color: #000000;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
  color: black;
}

.container:hover .log-sign {
  color: black;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo img {
  color: var(--clr-light);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  height: 35px;
  width: 150px;
  margin-left: 50px;
  display: none;
  margin-bottom: 8px;
  margin-top: 7px;
  cursor: pointer;
}

.logo2 img {
  color: var(--clr-light);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  height: 40px;
  width: 157px;
  margin-left: 50px;
  margin-top: 4px;
  cursor: pointer;
}

.container:hover .logo2>img {
  display: none;
}

.container:hover .logo>img {
  display: block;
}

@media (max-width:700px) {
  .logo2 img {
    margin-left: -20px;
  }
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid black;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.container:hover .btn-transparent {
  color: black;

}

.btn-transparent {
  color: white;
}

/* .btn.solid,
.btn.transparent:hover {
  background-color: black;
  color: var(--clr-btn);
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: ;
} */

.nav-links>ul {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-link {
  position: relative;
}

.nav-link>a {
  line-height: 3rem;
  color: black;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link>a>i {
  margin-left: .2rem;
}

.nav-link:hover>a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
 
}

.dropdown ul {
  position: relative;
}

.dropdown-link>a {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: var(--clr-dropdown);
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover>a {
  background-color: black;
  color: white;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--clr-light);
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: var(--clr-light);
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
  background-color: var(--clr-dropdown);
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  color: white;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--clr-light);
  position: relative;
  z-index: 1001;
  transition: .5s;
  color: white;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--clr-light);
  border-radius: 3px;
  transition: .5s;
  background-color: rgb(214, 214, 214);

}

.hamburger-menu div:before {
  transform: translateY(-7px);
  background-color: rgb(214, 214, 214);

}

.hamburger-menu div:after {
  transform: translateY(7px);


}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;

  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    /* height: calc(100vh - 3rem); */
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--clr-btn);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

  #check:checked~.nav-btn {
    transform: translateX(0);
  }

  #check:checked~.nav-btn .nav-link,
  #check:checked~.nav-btn .log-sign {
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links>ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link>a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover>a {
    transform: scale(1);
    background-color: var(--clr-nav-hover);
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: var(--clr-dropdown-hov);
    display: none;
  }

  .nav-link:hover>.dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover>a>i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link>a {
    background-color: transparent;
    color: var(--clr-light);
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: var(--clr-btn);
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
  }

  .nav-link:hover .arrow {
    background-color: var(--clr-nav-hover);
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover>a {
    background-color: var(--clr-dropdown-link-hov);
  }

  .dropdown-link:first-child:hover~.arrow {
    background-color: var(--clr-nav-hover);
  }

  .nav-link>a>i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: .7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

.image-home {

  position: relative;
}

.image-home img {
  /* width: 1122px;
   height: 672px; */
  margin-top: 10px;
  width: 100%;
  /* height: ; */
}

.about-container {
  margin-bottom: 100px;
}

.about-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;

}

.about-wrapper .about-class {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-family: roboto, arial;
  letter-spacing: 2px;
  scroll-margin-top: 20px;
}

.about-wrapper .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-wrapper .row .left {
  width: 40%;

}

.about-wrapper .row .right {
  width: 80%;
}

.content p {
  margin-top: 86px;
  font-family: Open Sans;
  letter-spacing: 1px;
  line-height: 22px;
}

@media (max-width:900px) {
  .about-wrapper .row {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width:900px) {
  .about-wrapper .row .right {
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
  }
}

@media (max-width:700px) {
  .about-wrapper .row .left {
    width: 100%;
  }
}

.image-text {
  font-size: 50px;
  text-align: center;
  font-family: Kanit;
  letter-spacing: 5px;
  color: ghostwhite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}


.container-css {
  border: 2px solid black;
  background-color: #F0F0F0;
  width: 400px;
  margin: 20px auto;
  background-color: rgb(61, 131, 97);
  margin-top: 80px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}

.title {
  text-align: center;
  width: 400px;
  scroll-margin-top: 80px;
  margin-top: 40px;
  padding-top: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px
}

.form-field {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  height: 2.4em;
  font-size: 1em;
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border: 2px solid rgba(98, 147, 173, 0.5);
}

input[type="text"],
input[type="email"] {
  padding-left: 10px;
}

input[type="number"] {
  padding: 10px;
}

input[type="number"]:focus {
  border: 2px solid rgba(98, 147, 173, 0.5);
}

label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

textarea {
  resize: none;
  font-size: 1em;
  padding: 6px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

textarea:focus {
  border: 2px solid rgba(98, 147, 173, 0.5);
}

.btn {
  display: flex;
  align-items: flex-end;
}

input[type="submit"] {
  padding: 6px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(61, 131, 97);
  color: white;
  cursor: pointer;
  text-align: center;
  margin-right: 114px;
  margin-bottom: 6px;
}

input[type="submit"]:hover {
  background-color: white;
  color: rgb(61, 131, 97);
}

@media (max-width:815px) {
  .container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    /* margin: 20px auto;
      margin-top: 10px; */
  }
}

@media (max-width:415px) {
  .title {
    background-color: #F0F0F0;
    width: 100%;
    margin: 20px auto;
  }
}

.home-image img {
  width: 100%;
  height: auto;
  margin-top: -1600px;
  margin-bottom: 25px;
  position: relative;
}

.video-bg video {
  width: 100%;


}

.video-bg {
  position: relative;
}

.image-text p {
  font-size: 100px;
  font-family: Kanit;
  letter-spacing: 5px;
  color: ghostwhite;
  text-align: center;
  display: inline;
  width: 100%;

}

.absolute-container {
  text-align: center;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.image-small-text {
  /* font-size: 100px; */
  font-family: Kanit;
  letter-spacing: 5px;
  color: ghostwhite;
  text-align: center;
}

.rating {
  display: flex;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 9px;
  width: 95%;
}

.rating-img img {
  height: auto;
  max-width: 50%;
}

.rating-margin {
  margin-left: 40px;
}

@media (max-width:700px) {
  .rating-margin {
    margin-right: -10px;

  }
}

.introduction {
  text-align: center;
  opacity: 0.2;
  letter-spacing: 5px;
  font-family: lato, sans-serif;
  margin-top: 193px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 50px;
}

.Marketing-text {
  margin-top: 50px;
  font-size: 45px;
  line-height: 2.8rem;
  margin: 0 auto;
 
}



*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.Marketing-text-para p{
  text-align: center;
  color: rgb(77, 72, 72);
  font-family: Montserrat, sans-serif;
  margin-top: 40px;
 
  
}
.Marketing-text-para-sec{
  text-align: center;
  color: rgb(77, 72, 72);
  font-family: Montserrat, sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
.introduction-text{
  width: 78%;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
}
.wise-video video{
  margin: 0 auto;
  width: 50%;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.solution{
  text-align: center;
  /* opacity: 0.2; */
  letter-spacing: 5px;
  font-family: lato, sans-serif;
  margin-top: 140px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 50px;
color: white;
padding-top: 140px;
font-family: lato,sans-serif;
}
.solution-bg{
  background-color: black;
  text-align: center;
  padding-bottom :120px; 
}
.solution-heading{
  font-family: montserrat,sans-serif;
  margin-bottom: 30px;
  color: white;
}
.solution-heading-sec p{
  font-family: lato,sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 40px;
}
.solution-btn{
 display: flex;
 margin-top: 20px;
}
.btn{
  font-family: lato,sans-serif;
  color: rgb(233, 233, 233) ;
  padding: 17px;
  border-radius: 40px;
  padding-right: 27px;
  padding-left: 27px;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: rgb(1,159,68);
  border: none;
  cursor: pointer;
  margin: auto;
  margin-right: 20px;
}
.btn-two{
  font-family: lato,sans-serif;
  color: rgb(233, 233, 233) ;
  padding: 17px;
  border-radius: 40px;
  padding-right: 30px;
  padding-left: 30px;
  /* margin-top: 40px; */
  background-color: rgb(0, 0, 0);
  border-color: white;
  border: 1px solid white;
  cursor: pointer;
  margin:  auto;
  margin-left: 0;
}
@media (max-width:900px){
  .wise-video{
    width: 100%;
  }
}
.Industries{
  display: flex;
  align-items: center; 
  gap: 80px;
  margin-top: 80px;
}
.btn-img {
  width: 100%;
}
.btn-img > img{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.industries-text{
  width: 100%;

}
.industries-text > h1{
font-size: 40px;
line-height: 50px;
font-weight: bold;
font-family: montserrat,sans-serif;
margin-left: 60px;
}
.industries-text > p{
  color: rgb(104, 91, 91);
  margin-left: 60px;
  margin-top: 30px;
  line-height: 25px;
}
@media(max-width:1000px){
  .Industries{
   flex-direction: column;
   
  }
}
.industries-button{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px ;
  margin-top: 25px;
}
.industries-button:hover{
  color: white;
}
.industries-button input {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: transparent; 
  
}
input:hover{
  color: white;
}

.btn-slide {
  position: relative;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

input {
  position: relative;

}
.btn-slide:hover input{
  color: white;
}
.btn-slide::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 55px;
background-color: rgb(218, 190, 190);
transform: translate(-110%);
transition: 0.5s;
border-radius: 10px 10px 10px 10px;

}


.btn-slide:hover::before {
  transform: translate(-5%);
  
}
